<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>添加用户</title>
    <head th:include="comm::header">
    </head>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <div class="layui-form-item">
                <label for="userName" class="layui-form-label">
                    用户名
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="userName" name="userName" lay-verify="required|myName"
                           autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="userPhone" class="layui-form-label">
                    <span class="x-red">*</span>手机号
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="userPhone" name="userPhone" lay-verify="required|phone"
                           autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="userBirthday" class="layui-form-label">
                    <span class="x-red">*</span>生日
                </label>
                <div class="layui-input-inline">
                    <input class="layui-input"  autocomplete="off" id="userBirthday" name="userBirthday" lay-verify="required|date">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>性别
                </label>
                <div class="layui-input-block">
                    <input name="userSex" value="1" title="男" checked="" type="radio">
                    <input name="userSex" value="0" title="女" type="radio">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="role" class="layui-form-label">
                    <span class="x-red">*</span>角色
                </label>
                <div class="layui-input-inline" >
                    <select name="userRoleId" id="role" lay-verify="required">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <input class="layui-btn" id="btnSave" lay-filter="add" lay-submit="" type="submit" value="增加" />
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['form', 'layer', 'laydate'], function() {
        $ = layui.jquery;
        var form = layui.form,
            laydate = layui.laydate,
            layer = layui.layer;

        // 生日选择
        var nowTime = new Date().valueOf();
        var userBirthday = laydate.render({
            elem: '#userBirthday',
            type: 'date',
            max: nowTime,
            btns: ['clear', 'confirm'],
            done: function(value, date){
                endMax = end.config.max;
                end.config.min = date;
                end.config.min.month = date.month-1;
            }
        });

        //监听提交
        form.on('submit(add)', function(data){
            // * 整合表单数据
            var formData = data.field;
            //发异步，把数据提交
            $.ajax({
                url:"/user/insert",
                data:formData,
                type:"post",
                success:function(datas){
                    if (datas=="success") {
                        layer.msg("添加成功", {icon: 6}, function () {
                            closeLayer();
                        });
                    } else {
                        layer.msg("添加失败", {icon: 5}, function () {
                            closeLayer();
                        })
                    }
                },
                error:function(){
                    layer.msg("添加错误", {icon: 2}, function () {
                        closeLayer();
                    })
                }
            });
            //必不可少
            return false;
        });

        // 关闭弹窗
        function closeLayer() {
            // 获得frame索引
            var index = parent.layer.getFrameIndex(window.name);
            //刷新父页面
            window.parent.location.reload();
            //关闭当前frame
            parent.layer.close(index);
        }

        //加载下拉框中的数据（角色选择）
        $.ajax({
            url:"/role/all",
            type:"post",
            dataType:"json",
            async:false,
            success:function(data){
                /* layer.alert(JSON.stringify(data)); */
                var list = "";
                for (var i = 0; i < data.length; i++) {
                    list+="<option value='"+data[i].roleId+"'>"+ data[i].roleName +"</option>";
                }
                $("#role").append(list);

                //重新刷新form表单
                layui.use('form', function(){  //此段代码必不可少
                    var form = layui.form;
                    form.render();
                });
            },
            error:function(data){
                layer.msg("角色信息获取错误");
            }
        });

    });
</script>

</body>

</html>